*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppoins', sans-serif;
}

html{
    /* 100% = 16rem default font size
    what if we want 10rem as default font size 
    so we will divide the 10/16 = .625 * 100 = 62.5% */
    font-size: 62.5%;
}


body{
    background: white;
    min-height: auto;
    overflow-x: hidden; 
    background: url("/static/image/plant.png") ,url("/static/image/leaf.png"),url("/static/image/tree.png"),url("/static/image/hill5.png"),url("/static/image/hill4.png"),url("/static/image/hill3.png") ,url("/static/image/hill2.png") ,url("/static/image/hill1.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
   
}



/* # Panda Face in the login page  */
/* .pada-face {
    height: 15.2em;
    width: 16.64em;
    background-color: white;
    border: 0.288em solid #2e0d30;
    border-radius: 12em 12em 8.992em 8.992em;
    position: absolute;
    top: 7.76em;
    left: 67.2em;

}
.ear-l,
.ear-r{
    background-color: #3f3554;
    height: 5.6em;
    width: 6.096em;
    border: 0.288em solid #2e0d30;
    border-radius: 4em 4em 0 0;
    top: 7.6em;
    position: absolute;
    left: 67.2em;
}

.ear-l {
    transform: rotate(-38deg);
    left: 65em;
}
.ear-r {
    transform: rotate(38deg);
    left: 80em;
}

.blush-l, .blush-r{
    background-color: #ff8bb1;
    height: 2.5rem;
    width: 2.75rem;
    border-radius: 5rem;
    position: absolute;
    top: 8.2rem;
}

.blush-l{
    transform: rotate(25deg);
    left: 1.6rem;
}
.blush-r{
    transform: rotate(-25deg);
    right: 1.6rem;
}

.eye-l,.eye-r{
    background-color: #3f3554;
    height: 3.92rem;
    width: 3.2rem;
    border-radius: 3.2rem;
    position: absolute;
    top: 4rem;
}
.eye-l{
    left: 2.4rem;
    transform: rotate(-20deg);
}

.eye-r{
    right: 2.4rem;
    transform: rotate(20deg);
}
.eyeball-l,.eyeball-r{
    height: 1.28rem;
    width: 1.28rem;
    background-color: whitesmoke;
    border-radius: 0.4rem;
    position: absolute;
    left: 0.96rem;
    top: 1.28rem;
    transition: 1s all;
}
.eyeball-l{
    transform: rotate(20deg);
}
.eyeball-r{
    transform: rotate(-20deg);
}

.nose{
    height: 1.92rem;
    width: 1.92rem;
    background-color: #3f3554;
    position: absolute;
    top: 8.48rem;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 1.92rem 0 0 0.4rem;
    transform: rotate(45deg);
}
.nose::before{
    content: "";
    position: absolute;
    background-color: #3f3554;
    height: 1.2rem;
    width: 0.24rem;
    transform: rotate(-45deg);
    top: 1.2rem;
    left: 1.76rem;
}

.mouth,
.mouth::before{
    height: 1.2rem;
    width: 1.488rem;
    background-color: transparent;
    position: absolute;
    border-radius: 5rem;
    box-shadow: 0 0.288rem #3f3554;
}

.mouth{
    top: 10.096rem;
    left: 6.64rem;
}


.mouth::before{
    content: "";
    position: absolute;
    left: 1.44rem;
}


.hand-l,.hand-r{
    background-color: #3f3554;
    height: 4.496rem;
    width: 4rem;
    border: 0.288rem solid #2e0d30;
    border-radius: 0.96rem 0.96rem 3.488rem 3.488rem;
    transition: 1s all;
    position: absolute;
    top: 13.44rem;
}
.hand-l{
    left: 16.8rem;
}
.hand-r{
    right: 16.8rem;
}
.hand-l::after,.hand-r::after{
    position: absolute;
    content: "";
    background-color: white;
    height: 0.32rem;
    width: 0.32rem;
    border-radius: 3rem;
    bottom: 0.496rem;
    left: 1.6rem;
    box-shadow: 1.072rem -0.592rem rgb(200, 198, 198), -1.072rem -0.592rem rgb(200, 198, 198);
}



.leg-r, .leg-l{
    background-color: #3f3554;
    height: 4.992em;
    width: 4.992em;
    border: 0.288em solid #2e0d30;
    border-radius: 4em 4em 1.92em 1.92em;
    position: absolute;
    top: 56.256em;
}
.leg-l{
    left: 16.8em;
}
.leg-r{
    right: 16.8em;
}
.leg-l::before, .leg-r::before{
    content: "";
    position: absolute;
    background-color: white;
    height: 2.193em;
    width: 2.8em;
    left: 0.88em;
    top: 1.92em;
    border-radius: 2.496em 2.496em 0.96em 0.96em;
}
.leg-l::after, .leg-r::after{
    position: absolute;
    content: "";
    background-color: white;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    top: 0.496em;
    left: 1.92em;
    box-shadow: 1.392em 0.592em #ffffff, -1.392em 0.592em #ffffff;
} */







/* This is the picture section */
 /* .diu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.diu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}  */







/* This is the boder section */
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    height: 44rem;
    background: transparent;
    border: .2rem solid rgba(255,255,255, .5);
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    box-shadow: 0 0 3rem rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}    

.wrapper .form-box .error{
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
    margin-left: .5rem;
    margin-bottom: 0rem;
    color: red;

}




/* This is the form */
.wrapper .form-box{
    width: 80%;
    padding: 4rem;
    /* margin-top: rem; */

}


.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
    background: #162938;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 2rem;
    z-index: 1;
}


.wrapper .icon-close  a{
    font-size: 2.4rem;
    color: #fff;
}

.wrapper .icon-close a:hover{
    color: red;
}




.form-box h2{
    font-size: 3.2rem;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 5rem;
    border-bottom: .2rem solid #162938;
    margin: 3rem 0;
}

.input-box label{
    position: absolute;
    top: 3rem;
    left: .5rem;
    transform: translateY(-30%);
    color: #162938;
    font-size: 1.6rem;
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -.2rem;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #162938;
    font-weight: 600;
    padding: 0 3.5rem 0 .5rem;
}

.input-box .icon {
    position: absolute;
    right: .4rem;
    font-size: 1.92em;
    color: #162938;
    line-height: 5.7rem;
}


.remember-forgot{
    font-size: 1.44rem;
    color: #162938;
    font-weight: 500;
    margin: -1.5rem 0 1.5rem;
    display: flex;
    justify-content: space-between;
}


.remember-forgot label input{
    accent-color: #162938;
    margin: .3rem;
}


.remember-forgot a{
    color: #162938;
    text-decoration: none;
}



.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 4.5rem;
    background: #162938;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}


.login-register{
    font-size: 1.44rem;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 2.5rem 0 1rem;
}


.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}




/* This is the media Section */
@media(max-width:998px){
    html{
        font-size: 65%;
    }
}
@media(max-width:768px){
    html{
        font-size: 60%;
    }
}

@media(max-width:695){
    html{
        font-size: 55%;
    }
}

@media(max-width:499px){
    html{
        font-size: 50%;
    }
}

@media(max-width:350px){
    html{
        font-size: 45%;
    }
}

@media(max-width:299px){
    html{
        font-size: 40%;
    }
}