*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppoins', sans-serif;
}

html{
    /* 100% = 16rem default font size
    what if we want 10rem as default font size 
    so we will divide the 10/16 = .625 * 100 = 62.5% */
    font-size: 62.5%;
}


body{
    background: white;
    min-height: auto;
    overflow-x: hidden; 
    background: url("/static/image/plant.png") ,url("/static/image/leaf.png"),url("/static/image/tree.png"),url("/static/image/hill5.png"),url("/static/image/hill4.png"),url("/static/image/hill3.png") ,url("/static/image/hill2.png") ,url("/static/image/hill1.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
   
}



/* This is the boder section */
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    height: 49rem;
    background: transparent;
    border: .2rem solid rgba(255,255,255, .5);
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    box-shadow: 0 0 3rem rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}    
/* This is the form */
.wrapper .form-box{
    width: 80%;
    padding: 4rem;
    /* margin-top: rem; */

}


.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
    background: #162938;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 2rem;
    z-index: 1;
}


.wrapper .icon-close  a{
    font-size: 2.4rem;
    color: #fff;
}

.wrapper .icon-close a:hover{
    color: red;
}



.wrapper .form-box .error{
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
    margin-left: .5rem;
    margin-bottom: 0rem;
    color: red;

}


.form-box h2{
    font-size: 3.2rem;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 3rem;
    border-bottom: .2rem solid #162938;
    margin: 3rem 0;
}

.input-box label{
    position: absolute;
    top: .9rem;
    left: .2rem;
    transform: translateY(-50%);
    color: #162938;
    font-size: 1.4rem;
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -.2rem;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #162938;
    font-weight: 600;
    padding: 0 3.5rem 0 .5rem;
}

.input-box .icon {
    position: absolute;
    right: .2rem;
    font-size: 1.92em;
    color: #162938;
    line-height: 3.7rem;
}


.remember-forgot{
    font-size: 1.44rem;
    color: #162938;
    font-weight: 500;
    margin: -1.5rem 0 1.5rem;
    display: flex;
    justify-content: space-between;
}


.remember-forgot label input{
    accent-color: #162938;
    margin: .3rem;
}


.remember-forgot a{
    color: #162938;
    text-decoration: none;
}



.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 4.5rem;
    background: #162938;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}


.login-register{
    font-size: 1.44rem;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 2.5rem 0 1rem;
}


.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}


/* This is the media Section */
@media(max-width:998px){
    html{
        font-size: 65%;
    }
}
@media(max-width:768px){
    html{
        font-size: 60%;
    }
}

@media(max-width:695){
    html{
        font-size: 55%;
    }
}

@media(max-width:499px){
    html{
        font-size: 50%;
    }
}

@media(max-width:350px){
    html{
        font-size: 45%;
    }
}

@media(max-width:299px){
    html{
        font-size: 40%;
    }
}