*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppoins', sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
  }



  .box{
    margin-left: 550px;
    margin-top: 100px;
    position: relative;
    width: 600px;
    height: 640px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  h1 {
    color: #333;
  }

  form {
    margin-top: 25px;
    color: transparent;
    padding: 30px;
  }

  label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
  }

  select, input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }