<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>


    {% block css %} 
        <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    {% endblock css %}
   
</head>
<body>


    <header>
      <h2 class="logo">Logo</h2>
      <nav class="navigation"></nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Service</a>
      <a href="#">Contact</a>

    </header>

    {% block img%}
         <img src="{% static 'image/shuvo1.jpg' %}" alt=""> 
    {% endblock img %}

    {% block content %}{% endblock content %}



    <script>src = "base.js"</script>
</body>
</html>