<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HomePage{% endblock title %}</title>


    {% block css %} 
        <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    {% endblock css %}
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


   
</head>
<body>
    <header>
      <img src="{% static 'image/bad.jpg' %}" class = "logo">
      <nav class="navigation">
        <a href="#" class = "active">Home</a>
        <a href="#about">About</a>
        <a href="{% url 'signup' %}">Service</a>
        <a href="{% url 'signup' %}">Upload</a>
      </nav>

      <nav class = "log">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">SingUp</a>
      </nav>
    </header>

    <section class = "diu">
        
        <img src="{% static 'image/hill1.png' %}" id="hill1">
        <img src="{% static 'image/hill2.png' %}" id="hill2">
        <img src="{% static 'image/hill3.png' %}" id="hill3">
        <img src="{% static 'image/hill4.png' %}" id="hill4">
        <img src="{% static 'image/hill5.png' %}" id="hill5">
        <img src="{% static 'image/tree.png' %}" id="tree">
        <h2 id = "text">DIU QUESTION BANK</h2>
        <img src="{% static 'image/leaf.png' %}" id="leaf">
        <img src="{% static 'image/plant.png' %}" id="plant">
    </section>

    <section class = "sec">
      <h2>Diu Scrolling Website</h2>
      <p>
          In the DIU Question Bank, sections are used to categorize and organize questions based on specific subjects, topics, or disciplines. <br><br>
          Sections provide a structured framework for users to easily navigate and locate relevant questions within the question bank. <br><br>
          Here are some key points about sections in the DIU Question Bank.
      </p>
   </section>




   <div class = "all">
      <div class = "b-all">
        <div class = "service" id = "about">
          <h1>ABOUT</h1>
          <p>The question bank website is a valuable online resource for students and educators.
            It offers a vast collection of curated questions from various subjects and levels of difficulty,
            making it a convenient tool for exam preparation and knowledge enhancement.
            </p>
        </div>
  
        <div class = "service" id = "services">
          <h1>SERVICES</h1>
          <p>The question bank provides access to a vast database of pre-made questions, allowing users to practice and test their knowledge.
            Additionally, it offers features such as customizable quizzes, performance tracking,
            and question recommendations based on individual learning needs.</p>
        </div>
  
        <div class = "service" id = "contact">
          <h1>CONTACT</h1>
          <p>Email: diuquestionsbank@gmail.com <br>
             Facebook: Diu Question Bank <br>
             Instagram: diuquestionsbank
          </p>
        </div>
      </div>
   </div>





{% comment %} this is the footer code {% endcomment %}

<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col">
              <h4>Company</h4>
              <ul>
                  <li><a href="#">about us</a></li>
                  <li><a href="#">our services</a></li>
                  <li><a href="#">privacy policy</a></li>
                  <li><a href="#">affiliate program</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Get Help</h4>
              <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">shipping</a></li>
                  <li><a href="#">order status</a></li>
                  <li><a href="#">payment option</a></li>
              </ul>
          </div>

          <div class="footer-col">
            <h4>Online</h4>
            <ul>
                <li><a href="#">watch</a></li>
                <li><a href="#">bag</a></li>
                <li><a href="#">shoes</a></li>
                <li><a href="#">dress</a></li>
            </ul>
          </div>


          <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="social-links">
               <a href="https://www.facebook.com/diuquestionsbank"><i class = "fab fa-facebook-f"></i></a>
               {% comment %} <a href="#"><i class = "fab fa-twitter"></i></a> {% endcomment %}
               <a href="#"><i class = "fab fa-instagram"></i></a>
               {% comment %} <a href="#"><i class = "fab fa-linkedin-in"></i></a> {% endcomment %}
            </div>
          </div>

      </div>
  </div>
</footer>


{% block content %}{% endblock content %}

{% load static %}  
<script src="{% static 'javaScript/base.js' %}"></script>

</body>
</html>